@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body , html {
    font-family: "Playfair Display", Regular;
    font-size: 14px;
    color: #626262;
    margin: 0;

    a{
        text-decoration:none ;
        color: #000000;
}
}

.container {
    
    padding-right: 70px;
    padding-left: 70px;
    margin-right: auto;
    margin-left: auto;
  }

header{

    nav{

        padding: 2em 0;
    
        .logo {
            font-family: "Inconsolata";
            font-size: 30px;
            color: #000000;
            text-transform : uppercase;
        }
        
        ul {
            list-style-type: none;
            float: right;
            padding:0;
            display: grid;
            grid-template-columns: repeat(4, 25%);
            width: 60%;
            text-transform: uppercase;
            text-align: right;
        }
    
    }
    
    img {
        width: 100%;
       /*  margin-bottom: 90px; */
        
    }
}

h3 {
    font-family: "Ubuntu Light";
    font-size: 14px;
    color: #b4ad9e;
    text-transform : uppercase;
    font-weight: normal;
}

h1 {
    font-size: 30px;
    font-weight: normal;
}

p{
    line-height: 24px;
    margin: 25px 0;
}

#photodiary, #lifestyle, #lifestyle2{
margin: 0 80px;
}


.btn{
    border: none;
    background: none;
    color: #B4AD9E;
    font-family: 'Ubuntu Light';
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
    margin: 25px 0;
}

.center-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
    
    img {
        width: 420px;
    }

    .colum{
        width: 100%;

        .box{
            width: 420px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

#signup{
    all: revert;
    background: #F0F0F0;
    width: 100%;
    min-height: 287px;
    margin-bottom: 10em;
    
    
    h2{
        font-family: "Playfair Display";
        font-size: 30px;
        text-align: center;
        font-weight: normal;
        color: #333333;
        padding-top: 65px;
    }

    input{
        border: none;
        border-bottom: solid #000000 1px;
        background:#F0F0F0 ;
        width: 380px;
        padding: 14px 0;
        margin-top: 10px;
    }

    ::placeholder{
        color: #626262;
        font-size: 14px;
        font-family: 'Playfair Display';
    }

}

.loadMore{
    border: #626262 solid 1px;
    background: none;
    width: 164px;
    height: 60px;
    color: #626262;
    font-size: 20px;
    font-family:'Playfair Display' ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 7em;
    margin-bottom: 5em;
}

footer{
    min-height: 100px;
    background: #F0F0F0;
    width: 100%;
    padding: 5em 0 0 0;
    color:#000000 ;

    a{
        text-decoration: none;
        padding-left: 1em; 
        color: #000000; 
    }

    a:visited {
        color:#000000 ;
    }
}

.social{
    display: inline;
    text-align: right;
    img {
        max-width: 18px;
        max-height: 15px;

    }
}